{% extends 'basePanel.html.twig' %}

{% block content %}
	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-body">
					<table class="table table-striped">
						<thead>
							<tr>
								<th class="text-center">ID</th>
								<th class="text-center">Nombre</th>
								<th class="text-center">Correo</th>
								<th class="text-nowrap text-center"><span class="fa fa-cog"></span></th>
							</tr>
						</thead>
						<tbody>
              {% for u in users %}
							<tr>
								<td class="text-center">{{ u.id }}</td>
								<td class="text-center">{{ u.fullName }}</td>
								<td class="text-center">{{ u.email }}</td>
								<td class="text-nowrap">
									<a href="#" data-toggle="tooltip" data-original-title="Edit">
										<i class="fa fa-pencil text-inverse m-r-10"></i>
									</a>
									<a href="#" data-toggle="tooltip" data-original-title="Close">
										<i class="fa fa-close text-danger"></i>
									</a>
								</td>
							</tr>
              {% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

<!-- sample modal content -->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">Modal Heading</h4>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			</div>
		
			<div class="modal-body">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info waves-effect" data-dismiss="modal">Close</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

{% endblock %}

{% block scripts %}
<script>
  var modal = $("#myModal");
	axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
	axios.post("{{ path('registro_get',{id:1}) }}",
							{
								responseType: 'json'
							}
				)
        .then(function (response) {
              var data = response.data;
							if(data.status){
								modal.find('.modal-body').html(data.html);
								modal.modal('show');
              }
            })
            .catch(function (error) {
              
            })
            .then(function (){             
						});
										
</script>
{% endblock %}
